<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="PrivateImplServiceSoapBinding">
          <mtomMessageEncoding maxWritePoolSize="2147483647" messageVersion="Soap12" maxBufferSize="2147483647"/>
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false" allowInsecureTransport="true" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"/>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.224:8080/cmdb/services/soap/Private" binding="customBinding" bindingConfiguration="PrivateImplServiceSoapBinding" contract="CMDBUILD.Private" name="PrivateImplPort"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
